<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartTitle">Cart</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table table-borderless table-hover" id="cart-table">
          <tbody>
            
          </tbody>
        </table>

        <div class="row justify-content-between">
          <a href="#" class="col-auto text-black-50" id="clear-cart">Clear Cart</a>
          <p class="col-auto font-weight-bold mb-0" id="cart-total-price"></p>
        </div>

        <div class="d-block text-danger text-center" id="error-message"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" id="order-btn">Order Now</button>
      </div>

    </div>
  </div>
</div>