<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161006658-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161006658-2');
  </script>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CMS/SEO -->
  <meta name="author" content="Jeffry Lew">
  <meta name="description" content="Woohan Hockey is the home of D1 hopefuls and the sickest dekes">

  <!-- Facebook card -->
  <meta property="og:site_name" content="Woohan Hockey">
  <meta property="og:url" content="http://www.woohanhockey.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Woohan Hockey">
  <meta property="og:description" content="The home of D1 hopefuls and the sickest dekes">
  <meta property="og:image" content="https://raw.githubusercontent.com/jeffrylew/joe_wagner-hockey/master/media/woohan_fb-event_medium_logo.jpg">
  <meta property="og:image:width" content="4032">
  <meta property="og:image:height" content="2268">
  <meta property="og:image:alt" content="Seong stickhandling">
  <meta property="og:locale" content="en_US">
  <!-- <meta property="fb:app_id" content="app_id"> -->

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Woohan Hockey">
  <meta name="twitter:description" content="The home of D1 hopefuls and the sickest dekes">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/jeffrylew/joe_wagner-hockey/master/media/woohan_twtr_medium_logo.jpg">
  <meta name="twitter:image:alt" content="Seong stickhandling">
  <!-- <meta name="twitter:site" content="@site_username"> -->

  <!-- Bad Script from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Font Awesome Kit for Logos -->
  <script src="https://kit.fontawesome.com/7906468088.js" crossorigin="anonymous"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/style.css">

  <!-- Favicon accompanying title -->
  <link rel="shortcut icon" href="images/favicon-32x32.png" type="image/x-icon">

  <title>Woohan Hockey</title>

</head>