<%- include("partials/header.ejs") %>

<body>
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing group photo -->
  <div class="jumbotron jumbotron-fluid py-0" id="jumbotron-about"></div>

  <div class="container">
    <h1 class="display-4 text-center mb-5">About Us</h1>

    <div class="row align-items-start">
      <!-- Image of kneeling Nash -->
      <div class="col-md mb-4">
        <img src="images/nash-square_winter_medium.jpg" alt="Riley Nash look-alike kneeling on ice" class="img-fluid shadow border border-info rounded-lg">
      </div>

      <!-- About page text -->
      <div class="col-md my-4">
        <h4 class="text-center font-weight-bold pb-2">Limits only exist in your mind</h4>

        <hr class="border-top border-light pb-3">

        <p class="pb-3">Woo Han Hockey is home to D1 hopefuls and the sickest dekes.</p>

        <p class="pb-3">We believe that winners are ordinary people with extraordinary determination. We know that the price of success is hard work, so we hustle until we no longer have to introduce ourselves.</p>

        <p class="pb-3">Be a game changer, the world is already filled with enough players.</p>

      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>