<%- include("partials/header.ejs") %>

<body class="body-about">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing group photo -->
  <div class="jumbotron jumbotron-fluid py-0" id="jumbotron-about"></div>

<%- include("partials/footer.ejs") %>