<%- include("partials/header.ejs") %>

<body>
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing group photo -->
  <div class="jumbotron jumbotron-fluid py-0" id="jumbotron-about">

    <!-- Unsplash credit to Arthur Edelman -->
    <div class="container-fluid d-flex justify-content-end px-0">
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@iamarthuredelman?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Arthur Edelman"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Arthur Edelman</span></a>
    </div>
  </div>

  <div class="container">
    <h1 class="display-4 text-center pt-2 mb-5">About Us</h1>

    <div class="row align-items-start">
      <!-- Image of Coach Wagner -->
      <div class="col-lg mb-4">
        <img src="images/joe-wagner-about-winter-3x4_medium.jpg" alt="Coach Wagner, chief of Hockeyrats" class="img-fluid shadow border border-info rounded-lg">
      </div>

      <!-- About page text -->
      <div class="col-lg my-4">
        <blockquote class="blockquote text-center pb-2">
          <p><strong>Hockey rat</strong>, <em>noun</em></p>
          <p>Someone whose life revolves around playing hockey.</p>
        </blockquote>

        <hr class="border-top border-light pb-3">

        <p class="pb-3">Hockeyrats is home to players who are fanatical about improving their game. We know the early morning grind leads to late-night victories.</p>

        <p class="pb-3">We believe in honing the fundamentals rather than practicing complex drills. We pioneered the <a href="/lessons" class="text-info" target="_blank" rel="noreferrer noopener">R.A.T.S. Hockey Training System</a> to guide players from the Mini Mite to Senior levels towards greatness.</p>

        <p class="pb-3">Joe Wagner presides as the Chief Hockey Rat. He is a premier hockey instructor at <a href="http://www.ice-land.com/home" class="text-info" target="_blank" rel="noreferrer noopener">Ice Land</a> in Hamilton Township, NJ with over 20 years of experience and currently serves as the head coach of the <a href="https://www.mercerchiefs.com/page/show/5954387-u16-american-2020-2021-" class="text-info" target="_blank" rel="noreferrer noopener">2020-2021 Mercer Chiefs Midget U16 American AAA Team.</a></p>

      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>