<%- include("partials/header.ejs") %>

<body>
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Contact Information -->
  <div class="container my-5 justify-content-center">
    <h1 class="display-4 text-center mb-5">Contact</h1>

    <div class="container col-10 col-md-8 col-xl-7">
      <p class="lead">For inquiries, please connect with us through Instagram: <a class="text-info" href="https://www.instagram.com/iceland6ammcdavid/" target="_blank" rel="noreferrer noopener">@iceland6ammcdavid</a></p>
    </div>
  </div>
  
<%- include("partials/footer.ejs") %>