<%- include("partials/header.ejs") %>

<body>
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Contact Information -->
  <div class="container justify-content-center my-4">
    <h1 class="display-4 text-center mb-4">Contact</h1>

    <div class="container col-10 col-md-8 col-xl-7">
      <p>For inquiries, please reach me at:</p>
      <ul>
        <li>
          Call/Text <a href="tel:+19088120636">(908) 812-0636</a>
        </li>
        <li>
          <a href="mailto:joe@hockeyrats.com">joe@hockeyrats.com</a>
        </li>
      </ul>

      <h3>ProSkate Ice Arena</h3>
      <ul>
        <li>
          Call <a href="tel:+17329406400">(732) 940-6400</a>
        </li>
        <li>
          1000 Cornwall Rd, Monmouth Junction, NJ 08852
        </li>
      </ul>
    </div>
  </div>

  <!-- Map of ProSkate -->
  <div class="container d-flex justify-content-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24301.625887068705!2d-74.53696532952185!3d40.415424600000016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb948251bbe6819df!2sPro%20Skate!5e0!3m2!1sen!2sus!4v1619019432708!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="d-block d-md-none col-10"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24301.625887068705!2d-74.53696532952185!3d40.415424600000016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb948251bbe6819df!2sPro%20Skate!5e0!3m2!1sen!2sus!4v1619019432708!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="d-none d-md-block d-lg-none col-md-8"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24301.625887068705!2d-74.53696532952185!3d40.415424600000016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb948251bbe6819df!2sPro%20Skate!5e0!3m2!1sen!2sus!4v1619019432708!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" class="d-none d-lg-block"></iframe>
  </div>

  <!-- Inquiry Form -->
  <!-- <div class="container d-flex my-4 justify-content-center">
    <form method="POST" class="col-10 col-md-8 col-xl-7">
      <div class="form-group">
        <label for="contact-name-input" class="text-info">Name</label>
        <input type="text" class="form-control" id="contact-name-input" autocomplete="name" disabled aria-disabled="true">
      </div>

      <div class="form-group">
        <label for="contact-email-input" class="text-info">Email Address</label>
        <input type="email" class="form-control" id="contact-email-input" autocomplete="email" disabled aria-disabled="true">
      </div>
  
      <div class="form-group">
        <label for="contact-message-input" class="text-info">Message</label>
        <textarea class="form-control" id="contact-message-input" rows="7" placeholder="Form submission currently unavailable, please use links above." spellcheck="true" disabled aria-disabled="true"></textarea>
      </div>
  
      <button type="submit" class="btn btn-info" role="button" disabled aria-disabled="true">Submit</button>
    </form>
  </div> -->
  
<%- include("partials/footer.ejs") %>