<%- include("partials/header.ejs") %>

<body class="body-index">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <h1 class="display-4 text-warning font-weight-bolder text-center pt-5 mt-5">Prove Them Wrong</h1>

  <div class="container d-flex justify-content-center" id="deke-div-index">
    <a class="btn btn-warning btn-lg" href="/lessons" role="button">Discover Dekes</a>
  </div>

<%- include("partials/footer.ejs") %>