<%- include("partials/header.ejs") %>

<body id="body-lessons">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing lessons video header -->
  <div class="jumbotron jumbotron-fluid py-0 mb-0" id="jumbotron-lessons">
    <video id="lessons-video" playsinline muted autoplay loop poster="images/lessons-poster.png" >
      <source src="images/training_abridged_high.mp4" type="video/mp4">
    </video>
  </div>

  <!-- Lesson Information -->
  <div class="container my-4">
    <h1 class="display-4 text-center mb-5">Lessons</h1>

    <p class="pb-3">To experience the R.A.T.S. Hockey Training System, please view our available lessons below.</p>

    <!-- Lessons Calendar -->
    <%- include("partials/calendar.ejs") %>

    <!-- Location -->
    <p class="pb-3">Lessons are held at <a href="http://www.ice-land.com/home" class="text-info" target="_blank" rel="noreferrer noopener">Ice Land</a> in Hamilton Township, NJ. Please <a href="/contact" class="text-info" target="_blank" rel="noreferrer noopener">contact me</a> regarding availability or if lessons at other facilities are desired.</p>

    <p class="pb-3 text-danger">Ice Land has reopened since the start of the Coronavirus (COVID-19) pandemic. Please review their <a href="http://www.ice-land.com" class="text-info" target="_blank" rel="noreferrer noopener">procedures and protocols</a> to maintain a safe and healthy environment for everyone. There is an inherent risk of exposure to COVID-19 in any public place where people are present. BY PURCHASING LESSONS, YOU VOLUNTARILY ASSUME ALL RISKS RELATED TO EXPOSURE TO COVID-19. JOE WAGNER AND ICE LAND ARENA DISCLAIM ANY AND ALL LIABILITY RELATED THERETO.</p>
    
    <h1 class="display-5 text-center my-4">Sample Lessons</h1>

    <div class="container justify-content-center row-cols-1 mb-5">
      <div class="embed-responsive embed-responsive-16by9 col mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/p78VOFA6_CU" allowfullscreen></iframe>
      </div>

      <div class="embed-responsive embed-responsive-16by9 col mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/l5PLL66Pw9s" allowfullscreen></iframe>
      </div>
    </div>

  </div>

<%- include("partials/footer.ejs") %>