<%- include("partials/header.ejs") %>

<body id="body-lessons">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing lessons video header -->
  <div class="jumbotron jumbotron-fluid py-0 mb-0" id="jumbotron-lessons">
    <video id="lessons-video" playsinline muted autoplay loop poster="images/lessons-poster.png" >
      <source src="images/training_abridged_high.mp4" type="video/mp4">
    </video>
  </div>

  <!-- Lesson Information -->
  <div class="container my-4">
    <h1 class="display-4 text-center mb-5">Lessons</h1>

    <p class="pb-3">To experience the R.A.T.S. Hockey Training System, please view our available lessons below.</p>

    <!-- Location -->
    <p class="pb-3">Lessons are held at <a href="https://proskatenj.com/" class="text-info" target="_blank" rel="noreferrer noopener">ProSkate Ice Arena</a> in Monmouth Junction, NJ. Please <a href="/contact" class="text-info" target="_blank" rel="noreferrer noopener">contact me</a> regarding availability or if lessons at other facilities are desired.</p>

    <!-- Lessons Calendar (commented out for now) -->
    <%# include("partials/calendar.ejs") %>

    <!-- Lessons Calendar from Google -->
    <div class="embed-responsive embed-responsive-4by3 mb-3 d-block d-md-none">
      <iframe
        class="embed-responsive-item"
        src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=aG9ja2V5cmF0c29mZmljaWFsQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;title=Lessons&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK"
        style="border-width:0"
        scrolling="no">
      </iframe>
    </div>
    <div class="embed-responsive embed-responsive-4by3 mb-3 d-none d-md-block">
      <iframe
        class="embed-responsive-item"
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=aG9ja2V5cmF0c29mZmljaWFsQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;title=Lessons&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
        style="border-width:0"
        scrolling="no">
      </iframe>
    </div>
    
    <!-- COVID Waiver -->
    <p class="pb-3 text-danger">ProSkate Ice Arena requires rink participants to sign a <a href="https://app.mysportsort.com/view/index.php?an=343&myss_source=register&entitytype=0&entityid=16669" class="text-info" target="_blank" rel="noreferrer noopener">COVID waiver</a>. There is an inherent risk of exposure to COVID-19 in any public place where people are present. BY PURCHASING LESSONS, YOU VOLUNTARILY ASSUME ALL RISKS RELATED TO EXPOSURE TO COVID-19. JOE WAGNER AND PROSKATE ICE ARENA DISCLAIM ANY AND ALL LIABILITY RELATED THERETO.</p>

    <h1 class="display-5 text-center my-4">Sample Lessons</h1>

    <div class="container justify-content-center row-cols-1 mb-5">
      <div class="embed-responsive embed-responsive-16by9 col mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/p78VOFA6_CU" allowfullscreen></iframe>
      </div>

      <div class="embed-responsive embed-responsive-16by9 col mb-3">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/l5PLL66Pw9s" allowfullscreen></iframe>
      </div>
    </div>

  </div>

<%- include("partials/footer.ejs") %>