<%- include("partials/header.ejs") %>

<body class="body-lessons">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Lesson Information -->
  <div class="container text-center my-2">
    <h1 class="display-4 mb-4">Private Lessons</h1>

    <!-- Location -->
    <p>Lessons are held at <a href="http://www.ice-land.com/home" class="text-info" target="_blank" rel="noreferrer noopener">Ice Land</a> in Hamilton Township, NJ. Please <a href="/contact" class="text-info" target="_blank" rel="noreferrer noopener">contact me</a> if lessons at other rinks are desired.</p>

    <p class="text-danger">As of March 16, 2020, Ice Land will be closed due to the Coronavirus (COVID-19) pandemic.</p>

    <p class="text-danger">Please <a href="/contact" class="text-info" target="_blank" rel="noreferrer noopener">contact me</a> regarding lesson availability.</p>

  </div>

<%- include("partials/footer.ejs") %>