<%- include("partials/header.ejs") %>

<body id="body-lessons">
  <!-- Top navbar -->
  <%- include("partials/navbar-top.ejs") %>

  <!-- Jumbotron containing lessons video header -->
  <div class="jumbotron jumbotron-fluid py-0 mb-0" id="jumbotron-lessons">
    <video id="lessons-video" playsinline muted autoplay loop poster="images/lessons-poster.png" >
      <source src="images/training_abridged_high.mp4" type="video/mp4">
    </video>
  </div>

  <!-- Lesson Information -->
  <div class="container my-4">
    <h1 class="display-4 text-center mb-5">Lessons</h1>

    <p class="pb-3">At Hockeyrats, we focus on fundamental drills that benefit modern hockey players. That's why we pioneered the <span class="text-danger">R.A.T.S.</span> Hockey Training System:</p>

    <div class="container justify-content-center pb-3 mb-3">
      <div class="col-4 offset-5 text-left">
        <h3 class="mb-0"><span class="text-danger">R</span>ecognition</h3>
        <h3 class="mb-0"><span class="text-danger">A</span>pplication</h3>
        <h3 class="mb-0"><span class="text-danger">T</span>actics</h3>
        <h3 class="mb-0"><span class="text-danger">S</span>kills</h3>
      </div>
    </div>

    <p class="pb-3">We believe players from the Mini Mite to Senior levels can quickly improve by recognizing the key concept of each drill, applying the knowledge during game situations, combining ideas from multiple drills to form tactics, and expanding their toolbox of skills through continuous training.</p>

    <p class="pb-3">To experience the R.A.T.S. Hockey Training System, please view our available lessons below.</p>

    <!-- Lessons Calendar -->
    <%- include("partials/calendar.ejs") %>

    <!-- Location -->
    <p class="pb-3">Lessons are held at <a href="http://www.ice-land.com/home" class="text-info" target="_blank" rel="noreferrer noopener">Ice Land</a> in Hamilton Township, NJ. Please <a href="/contact" class="text-info" target="_blank" rel="noreferrer noopener">contact me</a> regarding availability or if lessons at other facilities are desired.</p>

    <p class="pb-3 text-danger">Ice Land has reopened since the start of the Coronavirus (COVID-19) pandemic. Please review their <a href="http://www.ice-land.com" class="text-info" target="_blank" rel="noreferrer noopener">procedures and protocols</a> to maintain a safe and healthy environment for everyone. There is an inherent risk of exposure to COVID-19 in any public place where people are present. BY PURCHASING LESSONS, YOU VOLUNTARILY ASSUME ALL RISKS RELATED TO EXPOSURE TO COVID-19. JOE WAGNER AND ICE LAND ARENA DISCLAIM ANY AND ALL LIABILITY RELATED THERETO.</p>
    
  </div>

<%- include("partials/footer.ejs") %>