
html {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

body {
  /* Font matching logo */
  /* font-family: 'Bad Script', cursive; */

  font-family: 'Oswald', sans-serif;

  /* Padding so fixed-top navbar doesn't cover content */
  padding-top: 68px;

  /* Padding so fixed-bottom navbar doesn't cover content */
  padding-bottom: 56px;

  /* Gray */
  background-color: #393e46;

  /* Font color */
  color: white;
}

#navbar-top {
  background-color: black;
}

#body-index {
  /* Seong stickhandling */
  background-image: url("./../images/woo_han_landing_cinematic_medium.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#deke-div-index {
  margin-top: 15%;
}

#jumbotron-about {
  /* Photo by Markus Spiske on Unsplash */
  background-image: url("./../images/hockey-fight_winter_high.jpg");

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 20rem;
}