
html {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

body {
  /* Font matching logo */
  /* font-family: 'Bad Script', cursive; */

  font-family: 'Oswald', sans-serif;

  /* Padding so fixed-top navbar doesn't cover content */
  padding-top: 68px;

  /* Padding so fixed-bottom navbar doesn't cover content */
  padding-bottom: 56px;
}

#navbar-top {
  background-color: black;
}

.body-index {
  /* Seong stickhandling */
  background-image: url("./../images/woohan_landing_cinematic_medium.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#deke-div-index {
  margin-top: 15%;
}

.body-about {
  /* Gray */
  background-color: #393e46;

  /* Font color */
  color: white;
}

#jumbotron-about {
  /* Group photo */
  background-image: url("./../images/cornell_hockey-aquatic_cropped.jpg");

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 20rem;
}

.body-media {
  /* Gray */
  background-color: #393e46;

  /* Font color */
  color: white;
}

.body-contact {
  /* Light purple */
  /* background-color: #c5baca; */

  /* Logo gray */
  background-color: #393e46;
}