
html {
  /* Background image will occupy 100% of window height */
  height: 100%;
}

body {
  font-family: 'Bad Script', cursive;

  /* Padding so fixed-top navbar doesn't cover content */
  padding-top: 68px;

  /* Padding so fixed-bottom navbar doesn't cover content */
  padding-bottom: 56px;
}

#navbar-top {
  background-color: black;
}

.body-index {
  /* Seong stickhandling */
  background-image: url("./../images/woohan_landing_cinematic_medium.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbotron-index {
  /* Tritanopia color palette */
  background-color: rgba(90, 75, 97, 0.70);

  /* White text color */
  color: white;
  text-align: center;

  /* Margin so jumbotron is near middle of page */
  margin-top: 15%;
}

.img-thumbnail {
  /* Limit height of profile picture on smaller screens */
  max-height: 17rem;
}

.body-about {
  /* Light purple */
  /* background-color: #c5baca; */

  /* Logo gray */
  background-color: #393e46;

  /* Full-body Profile */
  /* background-image: url("./../images/joe-wagner-about_medium.jpg");

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; */
}

#jumbotron-about {
  /* Group photo */
  background-image: url("./../images/cornell_hockey-aquatic_cropped.jpg");

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 20rem;
}

.body-lessons {
  /* Light purple */
  /* background-color: #c5baca; */

  /* Logo gray */
  background-color: #393e46;
}

.body-contact {
  /* Light purple */
  /* background-color: #c5baca; */

  /* Logo gray */
  background-color: #393e46;
}